
extends ../base.pug

block link
  -var selectedMenu = 'accounts';  

append scripts  
  script(src='account.js')
  script(src='https://unpkg.com/axios/dist/axios.min.js')

block content
  .row.col.s7 
    .col.s6.accountBlocks
      h5 자산(Asset)      
      each account in accounts      
        if account.type == 'asset'          
          .row(style='margin-bottom: 5px',id=account.id, type=account.type, accountSeq=account.seq, desc=account.description)
            .col.s4= account.description           
            .col.s2              
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_up 
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_down
    .col.s6.accountBlocks
      h5 부채(Debt)      
      each account in accounts      
        if account.type == 'debt'
          .row(style='margin-bottom: 5px',id=account.id, type=account.type, accountSeq=account.seq, desc=account.description)
            .col.s4= account.description           
            .col.s2              
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_up 
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_down
  .row.col.s7 
    .col.s6.accountBlocks
      h5 비용(Cost)      
      each account in accounts      
        if account.type == 'cost'
          .row(style='margin-bottom: 5px',id=account.id, type=account.type, accountSeq=account.seq, desc=account.description)
            .col.s4= account.description           
            .col.s2              
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_up 
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_down
    .col.s6.accountBlocks 
      h5 수익(Income)      
      each account in accounts      
        if account.type == 'income'
          .row(style='margin-bottom: 5px',id=account.id, type=account.type, accountSeq=account.seq, desc=account.description)
            .col.s4= account.description           
            .col.s2              
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_up 
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_down
  .row.col.s7 
    .col.s6.accountBlocks 
      h5 순자산(Net Assets)      
      each account in accounts      
        if account.type == 'netAssets'
          .row(style='margin-bottom: 5px',id=account.id, type=account.type, accountSeq=account.seq, desc=account.description)
            .col.s4= account.description           
            .col.s2              
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_up 
              i.tiny.material-icons(onclick='onarrowbuttonclick(event)') arrow_drop_down

  form.col.s12(method="POST" action="/accounts/add")
    .row
      .input-field.col.s3
        //label(for="description") 항목명 #[input.form-control(type="text", name="description", id="description")]      
        label(for="description") 항목명 
        input.form-control(type="text", name="description", id="description")
      .input-field.col.s3          
        select(name="type", id="type")
          option(value="" selected= true) 종류 선택
          option(value="asset") 자산
          option(value="debt") 부채
          option(value="cost") 비용
          option(value="income") 수익
          option(value="netAssets") 순자산
      .input-field.col.s2      
        label(for="seq") Order
        input.form-control(type="number", name="seq", id="seq")
        
      .input-field.col.s2
        button.btn.btn-success(type="submit") ADD
    
  if !accounts.length
    p No accounts found.

  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, null);      
    });